<div id="logo" (click)="onNavigateHome()">
  <img src="../../../../../assets/layout/logo.svg" id="logoImg">
</div>

<nav>
  <ul id="center" class="hide-menu">
    <ng-container *ngFor="let menuItem of menu">
      <li class="block menu" [routerLink]="menuItem.routerLink" routerLinkActive="active"
        *ngIf="!menuItem.children && isUserInOneRoleOf(menuItem.roles)">
        <i class="icon summary" [class]="menuItem.icon" aria-hidden="true"></i>
        <div>{{menuItem.label}}</div>
      </li>

      <li class="block menu" *ngIf="menuItem.children && isUserInOneRoleOf(menuItem.roles)" routerLinkActive="active">
        <i class="icon summary" [class]="menuItem.icon" aria-hidden="true"></i>
        <div>{{menuItem.label}}</div>
        <ng-container *ngIf="menuItem.children">
          <div class="dropdown-content">
            <ng-container *ngFor="let childrenItem of menuItem.children">
              <div [routerLink]="childrenItem.routerLink" routerLinkActive="active"
                *ngIf="isUserInOneRoleOf(childrenItem.roles)">
                {{childrenItem.label}}</div>
            </ng-container>
          </div>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</nav>

<div id="rightSide" class="hide-menu">
  <div class="block user-name">{{userName}}<div class="role" *ngFor="let role of userRoles">
      {{UserRole[role]}}</div>
  </div>

  <div class="block" (click)="logout()">
    <i class="fa fa-sign-out icon" aria-hidden="true"></i>
    <div>Logout</div>
  </div>
</div>
<div id="hamburger-btn" (click)="changeHamburgerVisibilyty()" [class.active]="showHamurger">
  <i class="fa fa-bars small-icon" [class.rotate]="showHamurger" aria-hidden="true"></i>
</div>

<div id="hamburger-menu" [class.visible]="showHamurger" (click)="hideHamburgerVisibilyty()">

  <ng-container *ngFor="let menuItem of menu">
    <div class="hamburger-block" [routerLink]="menuItem.routerLink" *ngIf="isUserInOneRoleOf(menuItem.roles)">
      <i class="icon" [class]="menuItem.icon" aria-hidden="true"></i> {{menuItem.label}}
    </div>
  </ng-container>

  <div class="hamburger-block user-name">
    <div> <i class="fa fa-user" aria-hidden="true"></i>
      {{userName}}<div class="role" *ngFor="let role of userRoles">
        {{UserRole[role]}}</div>
    </div>
  </div>


  <!-- <div class="hamburger-block" *ngIf="Pwa.isUpdateAvailable" (click)="update()">
    <div> <i class="fa fa-mobile" aria-hidden="true"></i> Update App</div>
  </div>
  <div class="hamburger-block" *ngIf="Pwa.promptEvent" (click)="installPwa()">
    <div> <i class="fa fa-mobile" aria-hidden="true"></i> Install App</div>
  </div> -->

  <div class="hamburger-block" (click)="logout()">
    <div> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</div>
  </div>
</div>
