@import "../../../../../variables.scss";

.breadcrumb {
  list-style: none;
  overflow: hidden;
  font-size: 15px;
  // font-family: "raleway";
  padding: 0;
  margin: 0;
  height: 26px;
}
.breadcrumb li {
  height: 26px;
  float: left;
}
.home {
  color: $primary-color;
  font-size: 17px;
  margin-top: 1px;
}

.breadcrumb li a {
  color: $breadcrumb-color;
  text-decoration: none;
  padding: 3px 30px 3px 25px;
  border-radius: 0 20px 20px 0;
  border-color: gray;
  border-style: solid;
  border-width: 0 1px 0 0;
  background: #ffff; /* fallback color */
  background: #ffff;
  position: relative;
  display: block;
  float: left;
  height: 26px;
}

.breadcrumb li:first-child a {
  padding-left: 25px;
}

.breadcrumb li:nth-last-child(2) {
  background-color: $breadcrumb-current-bg-color;
}
.breadcrumb li:nth-last-child(2) a {
  border-right: none;
}
.breadcrumb li:last-child a {
  background: $breadcrumb-current-bg-color;
  color: $breadcrumb-current-color;
  pointer-events: none;
  border-right: none;
  cursor: default;
}

.breadcrumb li a:hover {
  background-color: $breadcrumb-hover-bg-color;
}

.breadcrumb li:first-child:hover:before,
.breadcrumb li:last-child:hover:before {
  display: none;
}

.breadcrumb li.canNavigate:hover:before {
  content: "";
  background-color: $breadcrumb-hover-bg-color;
  width: 14px;
  height: 26px;
  position: absolute;
  z-index: 1;
  margin-left: -14px;
}

.breadcrumb li a:hover:before {
  content: "";
  background-color: $breadcrumb-bg-color;
  border-radius: 0 20px 20px 0;
  border-color: gray;
  border-style: solid;
  border-width: 0 1px 0 0;
  width: 14px;
  height: 26px;
  position: absolute;
  z-index: 1;
  margin-left: -40px;
  margin-top: -3px;
}

a.disabled {
  pointer-events: none;
}
a:hover {
  background-color: $primary-dark-color;
}

@media only screen and (max-width: 600px) {
  .breadcrumb li a {
    padding: 3px 15px 3px 10px;
    font-size: 12px;
    line-height: 19px;
  }
  .breadcrumb li:first-child a {
    padding-left: 10px;
  }
  .breadcrumb li a:before {
    border-top: 21px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 15px solid;
    top: 160%;
  }
  .breadcrumb li a:after {
    border-top: 21px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 15px solid #ffff;
    top: 160%;
  }
}
