<ul class="breadcrumb">
  <li>
    <a (click)="onHome()">
      <i class="fa fa-home home"></i>
    </a>
  </li>

  <ng-container *ngFor="let breadcrumb of breadcrumbs">
    <li [class.canNavigate]="breadcrumb.canNavigateFromBreadcrumb">
      <a *ngIf="!breadcrumb.params" [routerLink]="[breadcrumb.url]"
        [class.disabled]="!breadcrumb.canNavigateFromBreadcrumb">
        {{ breadcrumb.label}}
      </a>
      <a *ngIf="breadcrumb.params" [routerLink]="[breadcrumb.url, breadcrumb.params]"
        [class.disabled]="!breadcrumb.canNavigateFromBreadcrumb">
        {{ breadcrumb.label}}
      </a>
    </li>
  </ng-container>
</ul>
