@import "../../../../../variables.scss";

.breadcrumb {
  list-style: none;
  overflow: hidden;
  font-size: 15px;
  // font-family: "raleway";
  padding: 0;
  margin: 0;
  height: 26px;
}
.breadcrumb li {
  height: 26px;
  float: left;
}
.home {
  color: $primary-color;
  font-size: 17px;
  margin-top: 1px;
}
.breadcrumb li a {
  color: $breadcrumb-color;
  text-decoration: none;
  padding: 3px 0 3px 55px;
  background: #ffff; /* fallback color */
  background: #ffff;
  position: relative;
  display: block;
  float: left;
  height: 26px;
}
.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ffff;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 102;
}
.breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 101;
}
.breadcrumb li:first-child a {
  padding-left: 20px;
}

.breadcrumb li:nth-last-child(2) a:before {
  color: $breadcrumb-current-bg-color;
}

.breadcrumb li:last-child a {
  background: $breadcrumb-current-bg-color;
  color: $breadcrumb-current-color;
  pointer-events: none;
  // padding-right: 20px;
  cursor: default;
  // border-radius: 0 5px 5px 0;
}
.breadcrumb li:last-child a:after {
  border-left-color: $breadcrumb-current-bg-color;
}

.breadcrumb li a:hover {
  background: $breadcrumb-hover-bg-color;
}
.breadcrumb li a:hover:after {
  border-left-color: $breadcrumb-hover-bg-color !important;
}

a.disabled {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .breadcrumb li a {
    padding: 3px 0 3px 24px;
    font-size: 12px;
    line-height: 19px;
  }
  .breadcrumb li:first-child a {
    padding-left: 10px;
  }
  .breadcrumb li a:before {
    border-top: 21px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 15px solid;
    top: 160%;
  }
  .breadcrumb li a:after {
    border-top: 21px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 15px solid #ffff;
    top: 160%;
  }
}
