<div class="mycontainer">

  <div class="loader-container">
    <app-loader [name]="dashboardComponentLoader"></app-loader>
    <div class="col-5 white-container shadow-container">
      <div class="info-container">
        <div class="input-container">
          <div class="label required">Date</div>
          <p-calendar [(ngModel)]="filterDate" [style]="{'width':'100%'}" appendTo="body" [locale]="calendarLocale"
            dateFormat="dd.mm.yy" (onSelect)="ngAfterViewInit()">
          </p-calendar>
        </div>


        <p-chart type="pie" [data]="chartData" [options]="chartOptions"></p-chart>

      </div>
      <div class="map-container">
        <agm-map [latitude]="centerLatitude" [longitude]="centerLongitude" [zoom]="zoom" [fullscreenControl]="true">
          <ng-container *ngFor="let report of orderReports">
            <agm-marker [latitude]="report.company.latitude" [longitude]="report.company.longitude"
              [agmFitBounds]="true">
            </agm-marker>
          </ng-container>
        </agm-map>
      </div>
    </div>


    <div class="col-7 white-container shadow-container">

      <p-table #dt [columns]="columns" [value]="orderReports" [scrollable]="true" [resizableColumns]="true"
        [reorderableColumns]="true" scrollHeight="calc(100% - 20px)" class="mytableBorder"
        [exportFilename]="'contractors'" dataKey="id">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 30px"></th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="headerRow" [ngSwitch]="col.field"
              pReorderableColumn>
              {{col.header}}
              <div *ngSwitchCase="'action'"></div>
              <p-sortIcon *ngSwitchDefault [field]="col.field"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th style="width: 30px"></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <p-calendar *ngSwitchCase="'deliveryDate'" #rangeFilter1 selectionMode="range" appendTo="body"
                placeholder="Filter" dateFormat="dd.mm.yy" [showButtonBar]="true"
                (onSelect)="dt.filter(rangeFilter1.value, col.field, 'dateRangeFilter')" [locale]="calendarLocale"
                (onClearClick)="dt.filter(null, col.field, 'dateRangeFilter')" [style]="{'minWidth':'100%'}">
              </p-calendar>
              <p-calendar *ngSwitchCase="'dateCreated'" #rangeFilter1 selectionMode="range" appendTo="body"
                placeholder="Filter" dateFormat="dd.mm.yy" [showButtonBar]="true"
                (onSelect)="dt.filter(rangeFilter1.value, col.field, 'dateRangeFilter')" [locale]="calendarLocale"
                (onClearClick)="dt.filter(null, col.field, 'dateRangeFilter')" [style]="{'minWidth':'100%'}">
              </p-calendar>
              <input *ngSwitchDefault type="text" placeholder="Filter"
                (input)="dt.filter($any($event.target).value, col.field, col.filterMatchMode)">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
          <tr [pSelectableRow]="rowData">
            <td style="width: 30px">
              <a [pRowToggler]="rowData">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
              </a>
            </td>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
              <div *ngSwitchCase="'dateCreated'">
                {{rowData.company[col.field] | date:"HH:mm dd.MM.yyyy"}}
              </div>
              <div *ngSwitchCase="'name'">
                {{rowData.company[col.field]}}
              </div>
              <div *ngSwitchCase="'postalCode'">
                {{rowData.company[col.field]}}
              </div>
              <div *ngSwitchCase="'city'">
                {{rowData.company[col.field]}}
              </div>
              <div *ngSwitchCase="'street'">
                {{rowData.company[col.field]}}
              </div>
              <div *ngSwitchDefault>
                {{rowData[col.field]}}
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-order>
          <tr>
            <td colspan="6">
              <div class="p-p-3">
                <p-table [value]="order.productsByUser" dataKey="id">
                  <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">User <p-sortIcon field="user"></p-sortIcon>
            </th>
            <th pSortableColumn="customer">Products <p-sortIcon field="products"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{order.user.firstName }} ({{order.user.email}})</td>
            <td>
              <div *ngFor="let item of order.products">
                <div class="col-8">
                  {{item.product.name}}
                </div>
                <div class="col-1">-</div>
                <div class="col-3 product-amount-cell">
                  {{item.amount}}
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" style="text-align: center;">There are no orders for {{ filterDate | date:"dd.MM.yyyy"}}</td>
      </tr>
    </ng-template>
    </p-table>

  </div>


</div>
</div>
