@import "../../../../variables.scss";

.mycontainer {
  height: calc(100vh - 120px);
  margin: 10px;
  transition: 0.5s all ease;
}
.col-7 {
  width: calc(58.3% - 10px);
  margin-right: 10px;
}

.form-header {
  width: 100%;
  padding: 0 0 25px 0;
  .form-header-label {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
  }
}
.submit-container {
  button {
    float: right;
  }
}

.info-container {
}

.order-products-table-container {
  padding-top: 50px;
}

button.plus {
  float: right;
  margin-top: 18px;
  width: 100%;
}

.add-container {
  padding-left: 10px;
}

.amount-container {
  padding-left: 10px;
}

.table-header-label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.messages-container {
  max-height: 180px;
  overflow-y: auto;
}
.table-container {
  max-height: 100%;
  overflow-y: auto;
}

@media only screen and (max-width: $hide-menu) {
  .table-container {
    width: 100%;
  }
  .new-order-container {
    width: 100%;
    margin-top: 10px;
  }
}
