<div class="background">
  <form [formGroup]="restForm" class="box">
    <div class="loader-container">
      <app-loader [name]="resetPasswordComponentLoader"></app-loader>
      <div class="header">
        <img src="../../../../assets/layout/logo.svg">
      </div>

      <div class="content">

        <div class="title-container"> Reset Password </div>

        <div class="input-container">
          <i class="fa fa-lock fa-mg icon" aria-hidden="true"></i>
          <input type="password" formControlName="password" placeholder="Password" autocomplete="new-password">
        </div>
        <div *ngIf="restForm?.controls?.password?.errors?.required && restForm?.controls?.password?.dirty"
          class="validation-alert">
          This field is required</div>

        <div class="input-container">
          <i class="fa fa-lock fa-mg icon" aria-hidden="true"></i>
          <input type="password" formControlName="connfirmPassword" placeholder="Connfirm Password"
            autocomplete="new-password">
        </div>
        <div
          *ngIf="restForm?.controls?.connfirmPassword?.errors?.required && restForm?.controls?.connfirmPassword?.dirty"
          class="validation-alert">
          This field is required</div>
        <div *ngIf="restForm?.errors?.invalidConnfirmPassword && restForm?.controls?.connfirmPassword?.dirty"
          class="validation-alert">
          Invalid connfirm password</div>

      </div>

      <div class="login-btn-container">
        <button class="register" (click)="onBack()">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Back
        </button>
        <button class="login" (click)="onSubmit()" type="submit">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>


  </form>
</div>
