.mycontainer {
  height: calc(100% - 10px);
  margin: 10px;
}

.form-container {
  overflow: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  grid-template-rows: 75px auto;
  padding: 10px 0 10px 10px;
}

.input-container {
  padding: 10px 5px;
}
.map-container {
  height: calc(100vh - 180px);
  padding: 10px 0 0 10px;
}

.joinColumns {
  grid-column-start: 1;
  grid-column-end: 5;
}

.formCard-header {
  display: inline-block;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}

.btns-container {
  button {
    float: right;
    margin-left: 10px;
  }
}

.checkbox-container {
  padding-left: 30px;
  padding-top: 30px;
}
