<div class="background">
  <form [formGroup]="loginForm" class="box">
    <app-loader [name]="loginLoader">
      <div class="header">
        <img src="../../../../assets/layout/logo.svg">
      </div>

      <div class="content">

        <div class="title-container"> Login </div>

        <div class="input-container">
          <i class="fa fa-user fa-ng icon" aria-hidden="true"></i>
          <input type="text" formControlName="email" placeholder="Email">
        </div>

        <div class="input-container">
          <i class="fa fa-lock fa-ng icon" aria-hidden="true"></i>
          <input type="password" formControlName="password" placeholder="Password">
        </div>

      </div>

      <div class="footer">
        <label class="checkbox-container">Remember me
          <input type="checkbox" formControlName="rememberme">
          <span class="checkmark"></span>
        </label>

        <div class="forgot" (click)="onForgotPassword()">Forgot Password?</div>

      </div>
      <div class="login-btn-container">
        <button class="login" (click)="onSubmit()" type="submit">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Login
        </button>

        <button class="register" (click)="onRegister()">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Register
        </button>
      </div>
    </app-loader>


  </form>
</div>
