@import "../../../../variables.scss";

.loader-container {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: auto;

  .loader-backgroud {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 99;
    cursor: progress;

    svg {
      height: 80%;
      max-width: 80px;
      max-height: 80px;
      margin: auto;
      position: fixed;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    svg.logo {
      fill: $primary-color;
      stroke-width: 0;
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .progress-bar-container {
      width: 45%;
      height: 40px;
      margin: auto;
      position: fixed;
      top: 45%;
      left: 50%;
      transform: translate(-50%, 100%);

      .progress-bar {
        background-color: rgba(255, 255, 255, 0.5);
      }
      .progress-bar span {
        height: 15px;
      }
      .progress-bar span div {
        font-size: 12px;
        padding: 4px 0;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
