.mycontainer {
  height: calc(100% - 10px);
}
form {
  height: calc(100% - 10px);
}
.columns-container {
  background-color: white;
  display: flex;
  margin-bottom: 0;
  height: 100%;
}
.col2:first-child {
  margin-right: 0;
}
.strip {
  background-color: #f4f4f4;
  width: 10px;
  height: 100%;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-top: 80px solid #fff;
  border-bottom: 40px solid #fff;
}

agm-map {
  height: 100%;
}
.form-container {
  overflow: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  grid-template-rows: 75px 200px 300px auto;
}

.right-form {
  display: flex;
  flex-flow: column;
  height: calc(100% - 20px);
}

.right-form-container-header {
  flex: 0 1 auto;
}

.right-form-container-info {
  flex: 0 1 auto;
}

.right-form-container-address {
  flex: 0 1 auto;
}

.right-form-container-map {
  height: 100%;
  flex: 1 1 auto;
}

.input-container {
  padding: 10px 5px;
}
.map-container {
  height: 100%;
  padding: 0;
}
button.refresh {
  margin: 28px 10px 0 0;
  float: right;
}
.joinColumns {
  grid-column-start: 1;
  grid-column-end: 3;
}

.search-btn {
  margin-top: 20px;
}

.timeSlots {
  width: 100%;
}
.timeSlots > tr:first-child {
  height: 33px;
}
.timeSlots > tr {
  height: 50px;
}
.timeSlots > tr > td {
  vertical-align: top;
}
