<p-confirmDialog></p-confirmDialog>
<div class="mycontainer white-container shadow-container">

  <app-loader [name]="companiesFormComponentLoader">
    <div class="columns-container">
      <div class="col-7">

        <div class="formCard">
          <form [formGroup]="editForm">

            <div class="formCard-header">
              <div class="label" *ngIf="selectedCompany?.id">
                {{selectedCompany?.name}}
              </div>
              <div class="label" *ngIf="!selectedCompany?.id">Add New Company</div>
            </div>

            <div class="formCard-body">
              <div class="form-container" autocomplete="off">
                <div class="input-container">
                  <div class="label">Name</div>
                  <input type="text" formControlName="name" autocomplete="off">
                  <div *ngIf="editForm.controls.name.invalid && editForm.controls.name.dirty" class="validation-alert">
                    Required</div>
                </div>

                <div class="input-container">
                  <div class="label">Postal Code</div>
                  <input type="text" formControlName="postalCode" autocomplete="off">
                  <div *ngIf="editForm.controls.postalCode.invalid && editForm.controls.postalCode.dirty"
                    class="validation-alert">
                    Required</div>
                </div>

                <div class="input-container">
                  <div class="label">City</div>
                  <input type="text" formControlName="city" autocomplete="off">
                  <div *ngIf="editForm.controls.city.invalid && editForm.controls.city.dirty" class="validation-alert">
                    Required</div>
                </div>

                <div class="input-container">
                  <div class="label">Street</div>
                  <input type="text" formControlName="street" autocomplete="off">
                  <div *ngIf="editForm.controls.street.invalid && editForm.controls.street.dirty"
                    class="validation-alert">
                    Required</div>
                </div>

                <div class="input-container joinColumns">
                  <div class="label">Comment</div>
                  <textarea rows="5" cols="30" style="width:100%;" pInputTextarea formControlName="comment"
                    autoResize="autoResize"></textarea>

                  <div *ngIf="editForm.controls.comment.invalid && editForm.controls.comment.dirty"
                    class="validation-alert">
                    Required</div>
                </div>
              </div>
            </div>
          </form>

        </div>

      </div>

      <div class="col-5">
        <div class=" col-12 right-container-header btns-container">
          <button class="submit" (click)="onSave()" [disabled]="!editForm.dirty">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <div class="label">Save</div>
          </button>

          <button *ngIf="selectedCompany?.id" class="delete" (click)="onDelete()">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <div class="label">Delete</div>
          </button>
        </div>

        <div class="map-container">
          <agm-map [zoom]="14" [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="editForm.controls.latitude.value" (dragEnd)="onDragEnd($event)"
              [longitude]="editForm.controls.longitude.value" [markerDraggable]="true">
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </app-loader>
</div>
