.mycontainer {
  height: calc(100% - 10px);
  margin: 10px;
}

.columns-container {
  background-color: white;
  display: flex;
  height: 100%;
}
.col2:first-child {
  margin-right: 0;
}

agm-map {
  height: 100%;
}
.form-container {
  overflow: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  grid-template-rows: 75px 75px auto;
  padding: 10px 0 10px 10px;
}

.input-container {
  padding: 10px 5px;
}
.map-container {
  height: calc(100vh - 180px);
  padding: 10px 0 0 10px;
}
button.refresh {
  margin: 28px 10px 0 0;
  float: right;
}
.joinColumns {
  grid-column-start: 1;
  grid-column-end: 3;
}

.right-container-header {
  padding: 10px 10px 0 0;
  div {
    padding-left: 10px;
  }
}

.formCard-header {
  display: inline-block;
  width: 100%;
  height: 45px;
  padding: 8px;
  font-size: 25px;
  font-weight: bold;
}
