<div class="background">
  <form [formGroup]="forgotForm" class="box">
    <div class="loader-container">
      <app-loader [name]="forgotPasswordComponentLoader"></app-loader>
      <div class="header">
        <img src="../../../../assets/layout/logo.svg">
      </div>

      <div class="content">

        <div class="title-container"> Forgot Password </div>

        <div class="input-container">
          <i class="fa fa-user fa-ng icon" aria-hidden="true"></i>
          <input type="text" formControlName="email" placeholder="Email">
        </div>

      </div>

      <div class="login-btn-container">
        <button class="register" (click)="onBack()">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Back
        </button>
        <button class="login" (click)="onSubmit()" type="submit">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Send Email
        </button>
      </div>
    </div>


  </form>
</div>
